*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    margin: 10px;
    background-color: black;
    background-image: url(fondo.jpg);
    
}

.titulo{
    font-size: 50px;
}
.contenedor{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
}

input{
    padding: 10px 100px;
    margin: 15px;
    border-radius: 15px;
}

.cuadroJuego{
    padding: 15px;
    margin: 15px;
    border: 10px solid black;
    background-color: rgba(182, 182, 182, 0.2);
    border-radius: 15%;
    width: 800px;
    height: 600px;
}

.palabraAdivinar p{
    font-size: 50px;
    color: white;
    /*border: 2px solid black;*/
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    bottom: 150px;
}

.intentos{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    /*border: 2px solid yellow;*/
    width: 150px;
    height: 200px;
    position: relative;
    right: -530px;
}

.contenedorFigura{
    border: 2px dashed blue;
    position: relative;
    border-radius: 15%;
    bottom: 200px;
    margin: 5px;
    width: 500px;
    height: 350px;
}

.intentos .numIntentos{
    font-size: 50px;
    text-align: center;
    padding: 35px;
}

button{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#btn-letra, #btn-palabra{
    display: none;
}

button:hover{
    background-color: greenyellow;
    font-size: 15px;
}

.btnReiniciar{
    margin: 50px;
    padding: 10px 25px;
}

.contenedorPalabra{
    position: absolute;
    left: 15px;
}

.contenedorLetra{
    position: absolute;
    right: 15px;
}

@media (max-width: 1760px){

    .contenedorPalabra,
    .contenedorLetra{
        position: static;
        margin: 5px;
    }

    .contenedorPalabra{
        order: 1;
    }

    .contenedorLetra{
        order: 2;
    }
}